[submodule "src/fsdc_calories"]
	path = src/fsdc_calories
	url = https://github.com/EconLabs/fsdc-calories.git
[submodule "src/submodules/fsdc_calories"]
	path = src/submodules/fsdc_calories
	url = https://github.com/EconLabs/fsdc-calories.git
[submodule "src/submodules/fsdc_security"]
	path = src/submodules/fsdc_security
	url = https://github.com/EconLabs/fsdc-security.git
